<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Recommender App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="background-pic">
            <div id="header">
                <nav class="navbar">
                    <div class="pic">
                        
                    </div>
                    <div class="nav-menu">
                        <ul>
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('instructions') }}">Instructions</a></li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                        </ul>  
                    </div>
                </nav>
                <div class="intro">
                    <h1>About</h1>
                    
                </div>
            </div>
        </div>
        
    </div>

</body>
</html>