<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Recommender App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="background-pic">
        <div id="header">
            <nav class="navbar">
                <div class="nav-menu">
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('instructions') }}">Instructions</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>  
                </div>
            </nav>
            <div class="intro">
                <h1>Welcome to the Song Recommender App</h1>
            </div>
            <div class="recs-form">
                <form id="recs" action="{{ url_for('recommendations') }}" method="post">
                    Input Song Link: <input type="text" name="URL"><br>
                    <input type="submit" value="Get Songs">
                </form>
            </div>
        </div>
        <div class="recommendations">
            {% block recommendations %}
            {% endblock %}
        </div>
    </div>
</body>
</html>